.container {
  margin: auto;
  text-align: center;
  max-width: 900px;
  background-color: rgb(143, 163, 184);
}


.App {
  text-align: center;
  display: flex;
  margin: auto;
  
}

body {
  background-color: lightslategray;
  font-family: 'Noto Sans JP', sans-serif;
}
.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.edit-div {
  width: 500px;
  display: inline;
  text-align: center;
  /* background-color: whitesmoke; */

  
}

.details-container {
  background-color: whitesmoke;
}

